In [1]:
print("Hello, welcome to python coding")

Hello, welcome to python coding

In [2]:
print("Hello,\n welcome to python coding")

Hello,
 welcome to python coding

In [3]:
a=5
b=2

In [4]:
print(a+b)

7

In [5]:
print (a-b)

3

In [6]:
print(a*b)

10

In [7]:
print(a/b)

2.5

In [8]:
print(a//b)

2

In [9]:
print(a%b)

1

In [10]:
print(a**b)

25

In [11]:
# BEDMAS rule : standing for Brackets, Exponents, Division/Multiplication, Addition/Subtraction
## (additional study : https://en.wikipedia.org/wiki/Order_of_operations)

print(2*4-8+3/2)

1.5

In [12]:
Increment = 6
Increment += 2
print (Increment)

8

In [13]:
Increment -= 4
print(Increment)

4

In [14]:
print (10 < 20) # 10 is less than 20 is TRUE
print (True and False)
print (True or False)
print (True and not False)
print (True or not False)

True
False
True
True
True

In [15]:
small = "upper case"
print(small.upper())

large = "LOWER CASE"
print(large.lower())

UPPER CASE
lower case

In [16]:
line = "Remove the space at the end    "
print(line)
print(line.rstrip())

Remove the space at the end
Remove the space at the end

In [17]:
percentage = '120%'
print(percentage.rstrip('%'))

120

In [18]:
begin = "   Remove the space at the beginning"
print(begin)
print(begin.lstrip())

   Remove the space at the beginning
Remove the space at the beginning

In [19]:
trim = "   Trim whitespaces  "
print(trim)
print(trim.strip())

   Trim whitespaces
Trim whitespaces

In [20]:
num_chars = '*444#'
print(num_chars.rstrip('#').lstrip('*'))

444

In [21]:
fruits = "2 apples"
no_of_apples = fruits[0] 
print('number of apples is', no_of_apples)

number of apples is 2

In [22]:
again = fruits[2:]
print(again)

apples

In [23]:
#slicing by specifying start and end index
print(fruits[2:5])

app

In [24]:
fruits_list = "5 oranges 3 monkeys n"
fruits = fruits_list[ :9]
print(fruits)

5 oranges

In [25]:
print(fruits_list[ :-2])

5 oranges 3 monkeys

In [26]:
animal = fruits_list[10:-2]
print(animal)

3 monkeys

In [27]:
number = '123456789'
even_number = number[1::2]
print(even_number)

2468

In [28]:
odd_number = number[0::2]
print(odd_number)

13579

In [29]:
odd_number_repeat = number[ :: 2]
print(odd_number_repeat)

13579

In [30]:
firstname = "James"
lastname = 'Bond'

In [31]:
names = firstname + " " + lastname
print(names)

James Bond

In [32]:
ages = 24
my_age = ("I am "+ str(ages) + " years old")
print(my_age)

I am 24 years old

In [33]:
Format_age = "I am {0} years old".format(ages) 
print(Format_age)

I am 24 years old

In [34]:
A = "Welcome to"
B = "World of"
C = "Python coding"

print("{0} {1} using {2}".format(A,B,C))

Welcome to World of using Python coding

In [35]:
#concat and update
names += ' ' + my_age
print(names)

James Bond I am 24 years old