## Interview question (sorting)

In [1]:
num = [1,5,3,2,6,7]
num.sort(reverse=True)
print(num)

[7, 6, 5, 3, 2, 1]

In [2]:
num = [1,5,3,2,6,7]
num.sort(reverse=False)
print(num)

[1, 2, 3, 5, 6, 7]

In [3]:
#Checking the version of python

from platform import python_version
python_version()

'3.7.6'

In [4]:
!python -V

Python 3.7.6

In [5]:
import sys
print(sys.version)

3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]

##### To check the path of the python programming

In [6]:
pwd!

'C:\\Users\\Dell'

## Strings

In [7]:
name = "james bond"
print(name.title())
print(name.upper())
print(name.lower())

James Bond
JAMES BOND
james bond

In [8]:
## Combining or Concatenating Strings
first_name = "James"
last_name = "bond"
full_name = first_name + " " + last_name
print(full_name.upper())

JAMES BOND

In [9]:
print("Python")
print("\nPython") # new line
print("\tPython") # tab space before printing

Python

Python
	Python

In [10]:
print("Languages:\n \nPython\nC\nJava")

Languages:

Python
C
Java

In [11]:
language = ' python '
language.rstrip()

' python'

In [12]:
language.lstrip()

'python '

In [13]:
language.strip()

'python'

#### Integers

In [14]:
2+3

5

In [15]:
2*3

6

In [16]:
2**3

8

In [17]:
2+3*4

14

In [18]:
(2 + 3) * 4

20

#### Floats

In [19]:
0.1+0.9

1.0

In [20]:
2*0.1

0.2

In [21]:
2*0.1+2

2.2

In [22]:
8//2

4

In [23]:
age = 23
message = "Happy " + str(age) + "rd Birthday!"
print(message)

Happy 23rd Birthday!

In [24]:
wish = "happy"
message = "Happy " + wish  + " Birthday!"
print(message)

Happy happy Birthday!

In [25]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Lists

In [26]:
countries = ['america', 'germany', 'mexico']
for country in countries:
    print(country)

america
germany
mexico

In [27]:
countries = ['america', 'germany', 'mexico']
for country in countries:
    print(countries)

['america', 'germany', 'mexico']
['america', 'germany', 'mexico']
['america', 'germany', 'mexico']

In [28]:
countries = ['america', 'germany', 'mexico','Dubai']
for country in countries:
    print(countries)

['america', 'germany', 'mexico', 'Dubai']
['america', 'germany', 'mexico', 'Dubai']
['america', 'germany', 'mexico', 'Dubai']
['america', 'germany', 'mexico', 'Dubai']

for cat in cats:

for dog in dogs:

for item in list_of_items:

### These naming conventions can help you follow the action being done on each item within a for loop. 
### Using singular and plural names can help you identify whether a section of code is working with a single element from the list or the entire list.

In [29]:
place = ['India', 'Germany', 'America']
for place in places:
    print(place.title() + ", Great place to live!")

NameError: name 'places' is not defined

In [30]:
place = ['India', 'Germany', 'America']
for place in place:
    print(place.title() + ", Great place to live!")

India, Great place to live!
Germany, Great place to live!
America, Great place to live!

In [31]:
place = ['India', 'Germany', 'America']
for place in place:
    print(place.title() + ", Great place to live!")
print("$$ That's the END $$")

India, Great place to live!
Germany, Great place to live!
America, Great place to live!
$$ That's the END $$

In [32]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician)
print(magician)

alice
david
carolina
carolina

In [33]:
message = "Hello Python world!"
print(message)

Hello Python world!

In [34]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician.title() + ", that was a great trick!")
    print("I can't wait to see your next trick, " + magician.title() + ".\n")
    print("Thank you everyone, that was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

Thank you everyone, that was a great magic show!
David, that was a great trick!
I can't wait to see your next trick, David.

Thank you everyone, that was a great magic show!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

In [35]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician.title() + ", that was a great trick!")
    print("I can't wait to see your next trick, " + magician.title() + ".\n")
print("Thank you everyone, that was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

In [36]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians
    print(magician)

SyntaxError: invalid syntax (<ipython-input-36-0b84a6ab73bd>, line 2)

In [37]:
for x in range(1,7):
    print(x)
## Although this code looks like it should print the numbers from 1 to 7, it doesn’t print the number 7:

1
2
3
4
5
6

In [38]:
# list in numbers
numbers = list(range(1,8))
print(numbers)

[1, 2, 3, 4, 5, 6, 7]

In [39]:
## Even numbers
even_numbers = list(range(2,12,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [40]:
squares = []
for value in range(1,10):
    square = value**2
    squares.append(square)
    print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
squares = []
for value in range(1,10):
    square = value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
squares = [value**2 for value in range(1,10)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
numbers = [1, 2, 3, 4, 5]

print(min(numbers))
print(max(numbers))

sum(numbers)

1
5

15

In [44]:
for i in range(1, 101,9):
    print(i)

1
10
19
28
37
46
55
64
73
82
91
100

In [45]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [46]:
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [47]:
numbers = [50, 150, 200]

print(min(numbers))
print(max(numbers))

sum(numbers)

50
200

400

In [48]:
cubes = [value**3 for value in range(1,10)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [49]:
cars = ['bmw', 'ford', 'tata', 'suzuki']
print(cars)
cars.reverse()
print(cars)

['bmw', 'ford', 'tata', 'suzuki']
['suzuki', 'tata', 'ford', 'bmw']

In [50]:
cars = ['bmw', 'ford', 'tata', 'suzuki']
print(cars)
cars.reverse()
print("\n")
print(cars)

['bmw', 'ford', 'tata', 'suzuki']


['suzuki', 'tata', 'ford', 'bmw']

In [51]:
bikes = ['hero', 'bajaj', 'suzuki']
print(bikes[3])

IndexError: list index out of range

In [52]:
bikes = ['hero', 'bajaj', 'suzuki']
print(bikes[1])

bajaj

In [53]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

### append

In [54]:
motorcycles.append('bmw')
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'bmw']

In [55]:
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [56]:
# Inserting elements in a list
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [57]:
# Removing elements from list
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [58]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[1]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

In [59]:
#Removing an Item Using the pop() Method

motorcycles = ['honda', 'yamaha', 'suzuki','bmw']
print(motorcycles)
popped_motorcycle = motorcycles.pop()
print(motorcycles)

#pop out last element in the list

['honda', 'yamaha', 'suzuki', 'bmw']
['honda', 'yamaha', 'suzuki']

In [60]:
# To view the pop out element
print(popped_motorcycle)

bmw

In [61]:
#Removing an Item by Value
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove('yamaha')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'suzuki', 'ducati']

In [62]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print("\nA " + too_expensive.title() + " is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

### Tuple

In [63]:
dimensions = (40, 30)
print(dimensions[0])
print(dimensions[1])

40
30

In [64]:
dimensions = (40, 30)
dimensions[:]

(40, 30)

In [65]:
dimension = (40, 30)
for dimension in dimensions:
    print(dimensions)

(40, 30)
(40, 30)

In [66]:
dimension = (40, 30)
for dimension in dimensions:
    print(dimension)

40
30

In [67]:
dimensions = (40, 30)
print("Original dimensions:")
for dimension in dimensions:
    print(dimension)
dimensions = (80, 100)
print("\nModified dimensions:")
for dimension in dimensions:
    print(dimension)

Original dimensions:
40
30

Modified dimensions:
80
100

In [68]:
dimensions

(80, 100)

In [69]:
car = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
    if car == 'bmw':
        print(car.upper())
else:
    print(car.title())

BMW
Bmw

In [70]:
cars

['suzuki', 'tata', 'ford', 'bmw']

In [71]:
car = 'bmw'

In [72]:
car == 'bmw'

True

In [73]:
supercar='ferrari'
supercar=='bmw'

False

In [74]:
car = 'Audi'
car == 'audi'
#case sensitive in Python

False

In [75]:
car = 'Audi'
car.lower() == 'audi'

True